:root{
    --Permanent-Market-FS: 'Permanent Marker', cursive; /*Font*/
    --RubikGemStone-FS: 'Rubik Gemstones', cursive; /*Font*/
    --Space-Grotesk: 'Space Grotesk', sans-serif; /*Font*/
    --background_input_form: rgba(47, 79, 79, 0.432);
    --box-shadow-transparent: rgb(248, 206, 206);
    --Sevilla-font: 'Sevillana', cursive; /*Font*/
    --Cinzel-font: 'Cinzel', serif; /*Font*/
    --Rubik-Spray-Font: 'Rubik Spray Paint', cursive; /*Font*/
    --principal_header-font: 'Fredoka One', cursive;
}