.rodape__principal{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: var(--background-principal);
}

.rodape__tema-titulo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: var(--Permanent);
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

.rodape__tema-redsocial{
    display: inline-flex;
    margin-left: 3rem;
    width: 3rem;
    transition: 1s all;
}

.rodape__tema-redsocial:hover{
    transition: 1s all;
    width: 3.70rem;
    margin-right: -10pxpx;
}