.table{
    bottom: 9rem;
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    position: relative;
    padding-right: 2.15rem;
}

h3{
    border: 1px solid black;
}

td{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-right: 1rem;
    font-weight: 550;
    margin: 35px;
}

tr{
    box-shadow: 10px 10px 10px 0 var(--box-shadow-transparent);
    background-color: tan;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-family: var(--Cinzel-font);
    justify-content: space-evenly;
    padding-right: .22rem;
    text-align: center;
    width: 100%;
    margin: 0 0 1rem;
}

th{
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.input_text{
    font-size: 20px;
}
